{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paynow Payment</title>
    <link rel="stylesheet" href="{% static 'application/payment.css' %}">
</head>
<body>
    <h1>Complete Your Payment</h1>

    <div class="par">
       <p>You are about to pay an application fee of $20.</p>
       <p>Your payment will be processed by Paynow.</p>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
    <form method="POST" action="{% url 'authentication:application_view' %}?step=9">
        {% csrf_token %}
        
        <fieldset>
            <legend>Select Payment Method:</legend>
            <label>
                <input type="radio" name="payment_method" value="mobile" required>
                Mobile Payment (EcoCash)
            </label><br>
            <br>
            <label>
                <input type="radio" name="payment_method" value="card" required>
                Card Payment
            </label>
        </fieldset>
        <div class="box-btn">
        <div class="button">
            <button type="submit">Proceed to Payment</button>
        </div>
        </div>
    </form>
    </div>
    
</body>
</html>
