
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  color: #444;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.2em;
  color: #555;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 8px 0;
  padding: 10px;
  border-left: 4px solid rgb(128,0,32);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
  margin-right: 10px;
}

button {
  background-color: rgb(128,0,32);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #126b40;
}

/* Responsive styling */
@media (max-width: 768px) {
  body {
      padding: 10px;
  }

  h1 {
      font-size: 1.5em;
  }

  h3 {
      font-size: 1.25em;
  }
  
  h4 {
      font-size: 1em;
  }
  
  form {
      padding: 15px;
  }

  button {
      width: 100%;
  }
}